<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <title>XMB</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link href="{{ static_path }}css/main.css" rel="stylesheet">
</head>

<body>
  <div class="content">
    <video class="background-video" src="{{ static_path }}video/main.mp4" autoplay loop playsinline muted></video>

    <div class="display-bar">
      <div class="rom-bar">{% for rom in roms %}
        <div class="rom-item" data-rom="{{ rom.name }}">
          {% if rom.image == no_image_path %}<img class="rom-item-img" src="{{ static_path }}{{ no_image_path }}" />{% else %}<img class="rom-item-img" src="{{ xmb_img_path }}/{{ rom.image }}" />{% endif %}
          <div class="rom-item-name">{{ rom.name }}</div>
        </div>{% endfor %}
      </div>
      <div class="game-bar">{% for rom in roms %}
        <div class="game-list" data-rom="{{ rom.name }}">{% for game in rom.games %}
          <div class="game-item" data-rom="{{ rom.name }}" data-image="{% if game.image_3d == no_image_path %}{{ static_path }}{{ game.image_3d }}{% else %}{{ rom_path }}/{{ game.image }}{% endif %}" data-iso="{{ game.rom.name }}" data-name="{{ game.name }}" data-year="{{ game.year }}" data-description="{{ game.description }}">
            <div class="game-item-img-wrapper">
              {% if game.image == no_image_path %}<img class="game-item-img" src="{{ static_path }}{{ no_image_path }}" />{% else %}<img class="game-item-img" src="{{ rom_path }}/{{ game.image }}" />{% endif %}
              <video class="game-item-video">
                {% if game.video %}<source src="{{ rom_path }}/{{ game.video }}" />{% endif %}
              </video>
            </div>
            <div class="game-item-name">{{ game.name }}</div>
          </div>{% endfor %}
        </div>{% endfor %}
      </div>
    </div>

    <div class="side-bar">
      <div class="side-bar-top">
        <div class="item-img-wrapper">
          <img class="item-img" src="" />
        </div>
        <div class="item-name"></div>
        <div class="item-year"></div>
      </div>
      <div class="side-bar-bottom">
        <div class="item-description"></div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script type="text/javascript">
    var run_rom_path = "{{ run_rom_path }}";
    var exit_path = "{{ exit_path }}";
    var tick_song_path = "{{ tick_song_path }}";
  </script>

  <script src="{{ static_path }}js/script.js"></script>
</body>
</html>